.companies {
  height: fit-content;
}
.company-manager {
  display: grid;;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 90%;
  margin: 10px auto;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  h2, h3 {
    margin-bottom: 1rem;
  }

  section {
    min-width: max-content;
  }

  .company-form {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .form-group {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 600;
        margin-bottom: 5px;
      }

      input[type="text"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
      }
    }

    .checkbox {
      display: flex;
      align-items: center;

      input {
        margin-right: 10px;
      }
    }

    .form-actions {
      display: flex;
      gap: 15px;

      button {
        width: 100%;
        padding: 10px 15px;
        background: #2563eb;
        color: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;

        &:first-child {
          background-color: #1d4ed8;
        }

        &:last-child {
          background: #9ca3af;

          &:hover {
            background: #6b7280;
          }
        }
      }
    }
  }

  .message {
    margin-bottom: 1rem;
    color: green;
    font-weight: bold;
  }

  .company-table {
    display: block;
    height: 700px;
    overflow-y: scroll;
    width: 100%;
    border-collapse: collapse;

    button {
      width: 100%;
      padding: 0;
      
    }

    tr {
      height: 40px;
    }

    th,
    td {
      height: 40px;
      line-height: 40px;
      padding: 5px 10px;
      overflow: hidden; 
         border-bottom: 1px solid #ddd;
         white-space: nowrap;  

    }
  }
}

.company-form .form-actions button {
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: not-allowed;
  transition: all 0.3s;
}

.company-form .form-actions button.active {
  background-color: #007bff;
  cursor: pointer;
}

.company-form .form-actions button:hover.active {
  background-color: #0056b3;
}
input.error {
  border: 1px solid red;
}

.error-text {
  color: red;
  font-size: 0.85em;
  margin-top: 4px;
}
.import-companies {
  margin-top: 2rem;
  border-top: 1px solid #ccc;

  form {
    display: flex;
    align-items: center;

    input[type="file"] {
      flex: 1;
    }
  }

  .message {
    margin-top: 0.5rem;
    color: green;
  }
}
