.company-detail {
  margin: 10px auto;
  padding: 30px;
  border-radius: 20px;
  margin: 2rem auto;
  h2 {
    margin-bottom: 0.5rem;
  }

  .new-review {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 2rem;

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      label {
        width: 100%;
        font-weight: 600;
        display: flex;
        justify-content: start;
        align-items: center;
        input[type="checkbox"] {
          width: 20px;
        }
      }

      input,
      textarea,
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
      }
      button {
        width: 150px;
        padding: 0.5rem;
        background: #28a745;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }

  .reviews {
    .review-card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-bottom: 1px solid #ddd;
      padding: 1rem 0;

      &-delete {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        button {
          background: #dc3545;
          color: #fff;
        }
        
      }
      &:last-child {
        border-bottom: none;
      }

      h4 {
        margin: 0 0 0.25rem;
      }
      p {
        margin: 0.25rem 0;
      }
      small {
        color: #666;
      }
    }
  }
}

.stars {
  color: gold;
  font-size: 1.2rem;
}
