.user-manager {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 90%;
  margin: 10px auto;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  h2,
  h3 {
    margin-bottom: 1rem;
  }

  section {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .user-form {
    width: max-content;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;

    .form-group {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: 0.25rem;
        font-weight: 600;
      }
      input,
      select {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      small.error {
        color: red;
        margin-top: 0.25rem;
      }
    }

    .roles {
      grid-column: span 2;
      display: flex;
      gap: 1rem;
      label {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }

    .form-actions {
      grid-column: span 2;
      display: flex;
      gap: 1rem;
      .primary {
        background: #007bff;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
      }
    }
    button {
      width: 100%;
    }

    .message {
      grid-column: span 2;
      color: #007bff;
      font-weight: 600;
    }
  }

  .table-wrapper {
    max-height: 700px;
    overflow-y: auto;
    button {
      margin-top: 2px;
      width: 100%;
      
    }

  }

  th,
  td {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
}

.import-form-container {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;

    input[type="file"] {
      display: block;
      margin-top: 10px;
    }
  }

  .alert {
    margin: 15px 0;
    padding: 10px;
    border-radius: 4px;
    white-space: pre-line;

    &-error {
      color: red;
      background-color: #ffeeee;
      border: 1px solid red;
    }

    &-success {
      color: green;
      background-color: #eeffee;
      border: 1px solid green;
    }
  }

  .btn-submit {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &.loading {
      background-color: #cccccc;
      cursor: not-allowed;
    }

    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
  }
}
