.view-user-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: fit-content;
  padding: 10px 50px 50px 50px;
  margin-top: 50px;
  height: 100%;
  background: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  gap: 20px;
}

.actions {
  display: flex;
  justify-content: end;
  a,
  button {
    border: none;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
    color: white;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.445);

    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.445);
    }
  }
  .edit {
    background-color: #007bff;
    border: none;
  }
  .delete {
    display: flex;
    align-items: center;
    background-color: #dc3545;
    border: none;
    cursor: pointer;
  }
}
