@media (max-width: 900px) {
  .general {
    flex-direction: column;
  }
}

button {
  padding: 10px 15px 10px 15px;
  margin: 2px !important;
  border: none;
  border-radius: 5px !important; /* El important es necesario para los botones dentro de tablas */
  transition: all 0.2s !important;
  font-weight: 600;
  height: min-content;
}

/* Esto es para que la X de quitar usuarios en la lista de tareas no tenga los hover de boton */
.badge > button:hover {
  transform: none !important;
  box-shadow: none !important;
}

button:hover:not(:disabled):not(.navbar__link) {
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px 0px #000000cb;
}

.edit {
  color: black;
  background-color: #d6d6d6;
}

.delete {
  color: black;
  background-color: #adadad;
}

.general {
  max-width: 100vw;
  max-height: 100vh;
}

.contenido-principal {
  margin-left: 400px;
  width: calc(100% - 400px);
  padding: 1rem;
}

@media (max-width: 900px) {
  .navbar {
    width: 100vw;
    left: -100%;
    transition: left 0.3s ease-in-out;
  }

  .navbar.active {
    left: 0;
  }

  .contenido-principal {
    margin-left: 0;
    margin-top: 80px;
    width: 100%;
  }
}