button {
  padding: 10px 15px 10px 15px;
  margin: 2px !important;
  border: none;
  border-radius: 5px !important; /* El important es necesario para los botones dentro de tablas */
  transition: all 0.2s !important;
  font-weight: 600;
  height: min-content;
}

/* Esto es para que la X de quitar usuarios en la lista de tareas no tenga los hover de boton */
.badge>button:hover{
  transform: none !important;
  box-shadow: none !important;
}

button:hover:not(:disabled) {
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px 0px #000000cb;
}

.edit {
  color: black;
  background-color: #d6d6d6;
}

.delete {
  color: black;
  background-color: #adadad;
}
